<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- Product Arr -->
  <ion-row class="ion-no-margin ion-no-padding">
    <!-- <ion-col size="6" *ngFor="let product of products" class="ion-no-margin ion-no-padding">
      <ion-card>
        <img style="
            max-height: 170px !important;
            min-height: 170px;
            object-fit: cover;
            margin: 3px;
            border-radius:5px;
        " [src]="product['images'][0]?product['images'][0]:'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'"
          alt="">
        <div class="" style="padding: 6px 10px;">
          <p class="ion-no-margin" style="font-weight: bold;">{{product['title']}}</p>
          <div style="display:flex;justify-content:space-between;align-items:center">
            <p class="ion-no-margin">Rs {{product['price']}}</p>
            <ion-badge color="success">
              <ion-icon name="star"></ion-icon> {{product['rating']}}
            </ion-badge>
          </div>
        </div>
      </ion-card>
    </ion-col> -->
  </ion-row>
  <!-- <ion-card>
    <h5>{{msg}}</h5>
  </ion-card> -->
</ion-content>