<div style="background-color: red; color: black; padding: 10px;">
  <h3>Three Section</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus minus omnis ipsum sit exercitationem voluptatem
    eum dolores nostrum dicta, voluptatum, beatae molestiae! Ex rerum qui vero distinctio quis amet libero temporibus
    dolorum unde hic a dolores, delectus praesentium dolorem eius ad. Laudantium repellat, a quae suscipit eius odit
    perspiciatis doloremque similique obcaecati, officiis quos repudiandae dolorum odio tenetur tempora distinctio
    nihil, at magnam ullam! Quo amet ullam corporis voluptatibus illum sapiente quis veniam deleniti enim inventore,
    quos possimus, nisi laboriosam repellendus rem nihil maxime molestiae omnis delectus vel ducimus ex ratione,
    accusamus iusto? Minima labore consequatur explicabo, ab dolorem recusandae.</p>
</div>