<ion-header>
  <ion-toolbar>
    <ion-title>indexedDB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Data Insert</ion-card-header>
    <ion-item>
      <ion-input placeholder="enter product name" [(ngModel)]="prd_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="enter product price" [(ngModel)]="prd_price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea row="6" placeholder="enter product description" [(ngModel)]="prd_description"></ion-textarea>
    </ion-item>
    <ion-button size="block" fill="solid" color="success" (click)="addProducts()" *ngIf="!update">+ ADD
      Product</ion-button>
    <ion-buttons *ngIf="update">
      <ion-button fill="solid" color="success" (click)="submitUpdate()">+ Update
        Product</ion-button>
      <ion-button fill="solid" color="danger" (click)="reset()">- Reset
        Product</ion-button>
    </ion-buttons>

  </ion-card>

  <ion-list>
    <ion-item *ngFor="let product of allProducts;let i=index" [color]="i%2==0?'light':''" lines="full">
      <ion-label class="ion-text-wrap" slot="start">
        <p class="ion-no-margin">{{product.prd_name}}</p>
        <small>{{product.prd_description}}</small>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="success" (click)="updateItem(product)"><ion-icon
            name="create"></ion-icon></ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteProduct(product)"><ion-icon
            name="trash"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>